WebMVCApplication/Service References/ServiceReferenceShopBanGiayPro/ServiceShopBanGiayPro2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23729/ServiceShopBanGiayPro.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceApplication" />
  <xs:element name="checkCTPhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mpn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkCTPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCTPhieuNhapResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkCTPhieuNhapSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mpn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkCTPhieuNhapSPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCTPhieuNhapSPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCTPhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mpn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sl" type="xs:int" />
        <xs:element minOccurs="0" name="gia" type="xs:float" />
        <xs:element minOccurs="0" name="tien" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCTPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertCTPhieuNhapResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCTPhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mpn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCTPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCTPhieuNhapResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCTPhieuNhapSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mpn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCTPhieuNhapSPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCTPhieuNhapSPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCTPhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="mpn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sl" type="xs:int" />
        <xs:element minOccurs="0" name="gia" type="xs:float" />
        <xs:element minOccurs="0" name="tien" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCTPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateCTPhieuNhapResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllTonKho">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllTonKhoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findAllTonKhoResult" nillable="true" type="q1:ArrayOftonkho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findListTonKhoSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findListTonKhoSPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findListTonKhoSPResult" nillable="true" type="q2:ArrayOftonkho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findTonKho">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findTonKhoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findTonKhoResult" nillable="true" type="q3:tonkho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findListTonKhoTG">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="thoigian" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findListTonKhoTGResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="findListTonKhoTGResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertTonKho">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ngay" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sl" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertTonKhoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertTonKhoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTonKho">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTonKhoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteTonKhoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTonKho">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ngay" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sl" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTonKhoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateTonKhoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="finAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="finAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="finAllUserResult" nillable="true" type="q4:ArrayOfuser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findTenUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findTenUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findTenUserResult" nillable="true" type="q5:ArrayOfuser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findUserResult" nillable="true" type="q6:user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkLoginUserCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quyenhang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkLoginUserCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkLoginUserCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkLoginAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quyen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkLoginAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkLoginAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findLoginAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quyen" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findLoginAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findLoginAdminResult" nillable="true" type="q7:user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkLoginUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkLoginUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkLoginUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteActiveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteActiveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteActiveUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findLoginUserCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quyenhang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findLoginUserCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findLoginUserCartResult" nillable="true" type="q8:user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findLoginUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findLoginUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findLoginUserResult" nillable="true" type="q9:user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hoten" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gioitinh" type="xs:boolean" />
        <xs:element minOccurs="0" name="ngay" type="xs:dateTime" />
        <xs:element minOccurs="0" name="diachi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sdt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hinh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quyen" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hoten" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gioitinh" type="xs:boolean" />
        <xs:element minOccurs="0" name="ngay" type="xs:dateTime" />
        <xs:element minOccurs="0" name="diachi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sdt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hinh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quyen" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllSanPham">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findAllSanPhamResult" nillable="true" type="q10:ArrayOfsanpham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSanPhamNangCao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mansx" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="giatu" type="xs:float" />
        <xs:element minOccurs="0" name="giaden" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSanPhamNangCaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="SearchSanPhamNangCaoResult" nillable="true" type="q11:ArrayOfsanpham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayMaSPTT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayMaSPTTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LayMaSPTTResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayGiaSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayGiaSPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LayGiaSPResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySoLuongSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySoLuongSPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LaySoLuongSPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findTenSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findTenSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findTenSanPhamResult" nillable="true" type="q12:ArrayOfsanpham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllSanPhamMoiNhat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllSanPhamMoiNhatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findAllSanPhamMoiNhatResult" nillable="true" type="q13:ArrayOfsanpham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findSanPhamResult" nillable="true" type="q14:sanpham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findMaLoaiSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findMaLoaiSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findMaLoaiSanPhamResult" nillable="true" type="q15:ArrayOfsanpham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mnsx" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sl" type="xs:int" />
        <xs:element minOccurs="0" name="gia" type="xs:float" />
        <xs:element minOccurs="0" name="ngay" type="xs:dateTime" />
        <xs:element minOccurs="0" name="hinh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertSanPhamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteSanPhamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteActiveSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteActiveSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteActiveSanPhamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mnsx" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sl" type="xs:int" />
        <xs:element minOccurs="0" name="gia" type="xs:float" />
        <xs:element minOccurs="0" name="ngay" type="xs:dateTime" />
        <xs:element minOccurs="0" name="hinh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateSanPhamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllCTSanPham">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllCTSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findAllCTSanPhamResult" nillable="true" type="q16:ArrayOfct_sanpham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findListCTSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findListCTSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findListCTSanPhamResult" nillable="true" type="q17:ArrayOfct_sanpham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findCTSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findCTSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findCTSanPhamResult" nillable="true" type="q18:ct_sanpham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkCTSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkCTSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCTSanPhamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCTSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mausac" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kieudang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chatlieu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mota" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCTSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertCTSanPhamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCTSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCTSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCTSanPhamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCTSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mausac" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kieudang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chatlieu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mota" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCTSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateCTSanPhamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllLoai">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findAllLoaiResult" nillable="true" type="q19:ArrayOfloai" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayMaLoaiTT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayMaLoaiTTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LayMaLoaiTTResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findLoaiResult" nillable="true" type="q20:loai" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findTenLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findTenLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findTenLoaiResult" nillable="true" type="q21:ArrayOfloai" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tenl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertLoaiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteLoaiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteActiveLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteActiveLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteActiveLoaiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tenl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateLoaiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllNhaSX">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllNhaSXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findAllNhaSXResult" nillable="true" type="q22:ArrayOfnhasx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayMaNSXTT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayMaNSXTTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LayMaNSXTTResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findNhaSX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mnsx" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findNhaSXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findNhaSXResult" nillable="true" type="q23:nhasx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findTenNhaSX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findTenNhaSXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findTenNhaSXResult" nillable="true" type="q24:ArrayOfnhasx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertNhaSX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mnsx" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diachi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hinh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertNhaSXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertNhaSXResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteNhaSX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mnsx" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteNhaSXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteNhaSXResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteActiveNhaSX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mnsx" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteActiveNhaSXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteActiveNhaSXResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateNhaSX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mnsx" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diachi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hinh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateNhaSXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateNhaSXResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllHoaDon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findAllHoaDonResult" nillable="true" type="q25:ArrayOfhoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkHoDonHoanThanhChua">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mhd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkHoDonHoanThanhChuaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkHoDonHoanThanhChuaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllHoaDonChuaHT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllHoaDonChuaHTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findAllHoaDonChuaHTResult" nillable="true" type="q26:ArrayOfhoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayMaHDTT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayMaHDTTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LayMaHDTTResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllHoaDonDaMua">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllHoaDonDaMuaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findAllHoaDonDaMuaResult" nillable="true" type="q27:ArrayOfhoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findListHoaDonChuaXong">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findListHoaDonChuaXongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findListHoaDonChuaXongResult" nillable="true" type="q28:ArrayOfhoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findMaHoaDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findMaHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findMaHoaDonResult" nillable="true" type="q29:ArrayOfhoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findListHoaDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mhd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findListHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findListHoaDonResult" nillable="true" type="q30:ArrayOfhoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findHoaDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mhd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findHoaDonResult" nillable="true" type="q31:hoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteActiveHoaDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mhd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteActiveHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteActiveHoaDonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertHoaDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mhd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ngay" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertHoaDonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteHoaDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mhd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteHoaDonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTrangThaiHoaDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mhd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTrangThaiHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateTrangThaiHoaDonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateHoaDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mhd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ngay" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateHoaDonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllCTHoaDon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllCTHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findAllCTHoaDonResult" nillable="true" type="q32:ArrayOfct_hoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findListCTHoaDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mhd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findListCTHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findListCTHoaDonResult" nillable="true" type="q33:ArrayOfct_hoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findCTHoaDonID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findCTHoaDonIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findCTHoaDonIDResult" nillable="true" type="q34:ct_hoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findCTHoaDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mhd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findCTHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findCTHoaDonResult" nillable="true" type="q35:ct_hoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkCTHoaDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mhd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkCTHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCTHoaDonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCTHoaDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mhd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sl" type="xs:int" />
        <xs:element minOccurs="0" name="tien" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCTHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertCTHoaDonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCTHoaDonSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mhd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCTHoaDonSPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCTHoaDonSPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCTHoaDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCTHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCTHoaDonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCTHoaDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="mhd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sl" type="xs:int" />
        <xs:element minOccurs="0" name="tien" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCTHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateCTHoaDonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllPhieuNhap">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findAllPhieuNhapResult" nillable="true" type="q36:ArrayOfphieunhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayMaPNTT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayMaPNTTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LayMaPNTTResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findPhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mpn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findPhieuNhapResult" nillable="true" type="q37:phieunhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkPhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mpn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkPhieuNhapResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertPhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mpn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ngay" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertPhieuNhapResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mpn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePhieuNhapResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteActivePhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mpn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteActivePhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteActivePhieuNhapResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mpn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ngay" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatePhieuNhapResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllCTPhieuNhap">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllCTPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findAllCTPhieuNhapResult" nillable="true" type="q38:ArrayOfct_phieunhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findListCTPhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mpn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findListCTPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findListCTPhieuNhapResult" nillable="true" type="q39:ArrayOfct_phieunhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findCTPhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mpn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findCTPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/WCFServiceApplication" minOccurs="0" name="findCTPhieuNhapResult" nillable="true" type="q40:ct_phieunhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySLSPCTPhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mpn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySLSPCTPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LaySLSPCTPhieuNhapResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>