DesktopApplication/Service References/ServiceReferenceShopBanGiayPro/ServiceShopBanGiayPro1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceApplication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceApplication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfct_phieunhap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ct_phieunhap" nillable="true" type="tns:ct_phieunhap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfct_phieunhap" nillable="true" type="tns:ArrayOfct_phieunhap" />
  <xs:complexType name="ct_phieunhap">
    <xs:sequence>
      <xs:element minOccurs="0" name="gia" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="mapn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phieunhap" nillable="true" type="tns:phieunhap" />
      <xs:element minOccurs="0" name="sanpham" nillable="true" type="tns:sanpham" />
      <xs:element minOccurs="0" name="soluong" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="thanhtien" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ct_phieunhap" nillable="true" type="tns:ct_phieunhap" />
  <xs:complexType name="phieunhap">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="mapn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ngaynhap" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="trangthai" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="phieunhap" nillable="true" type="tns:phieunhap" />
  <xs:complexType name="sanpham">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="gia" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="hinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="loai" nillable="true" type="tns:loai" />
      <xs:element minOccurs="0" name="maloai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mansx" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ngaynhap" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nhasx" nillable="true" type="tns:nhasx" />
      <xs:element minOccurs="0" name="soluong" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tensp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sanpham" nillable="true" type="tns:sanpham" />
  <xs:complexType name="loai">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="maloai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="loai" nillable="true" type="tns:loai" />
  <xs:complexType name="nhasx">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="diachi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="mansx" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="nhasx" nillable="true" type="tns:nhasx" />
  <xs:complexType name="ArrayOftonkho">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tonkho" nillable="true" type="tns:tonkho" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftonkho" nillable="true" type="tns:ArrayOftonkho" />
  <xs:complexType name="tonkho">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ngaycapnhat" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="sanpham" nillable="true" type="tns:sanpham" />
      <xs:element minOccurs="0" name="soluongton" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tonkho" nillable="true" type="tns:tonkho" />
  <xs:complexType name="ArrayOfuser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="user" nillable="true" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuser" nillable="true" type="tns:ArrayOfuser" />
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="diachi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gioitinhnam" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="hinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hoten" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="ngaysinh" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="quyenhang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sdt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user" nillable="true" type="tns:user" />
  <xs:complexType name="ArrayOfsanpham">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sanpham" nillable="true" type="tns:sanpham" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsanpham" nillable="true" type="tns:ArrayOfsanpham" />
  <xs:complexType name="ArrayOfct_sanpham">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ct_sanpham" nillable="true" type="tns:ct_sanpham" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfct_sanpham" nillable="true" type="tns:ArrayOfct_sanpham" />
  <xs:complexType name="ct_sanpham">
    <xs:sequence>
      <xs:element minOccurs="0" name="chatlieu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="kieudang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mausac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sanpham" nillable="true" type="tns:sanpham" />
      <xs:element minOccurs="0" name="xuatxu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ct_sanpham" nillable="true" type="tns:ct_sanpham" />
  <xs:complexType name="ArrayOfloai">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="loai" nillable="true" type="tns:loai" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfloai" nillable="true" type="tns:ArrayOfloai" />
  <xs:complexType name="ArrayOfnhasx">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="nhasx" nillable="true" type="tns:nhasx" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfnhasx" nillable="true" type="tns:ArrayOfnhasx" />
  <xs:complexType name="ArrayOfhoadon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="hoadon" nillable="true" type="tns:hoadon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfhoadon" nillable="true" type="tns:ArrayOfhoadon" />
  <xs:complexType name="hoadon">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="hoanthanh" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="mahd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ngaymua" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:user" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hoadon" nillable="true" type="tns:hoadon" />
  <xs:complexType name="ArrayOfct_hoadon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ct_hoadon" nillable="true" type="tns:ct_hoadon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfct_hoadon" nillable="true" type="tns:ArrayOfct_hoadon" />
  <xs:complexType name="ct_hoadon">
    <xs:sequence>
      <xs:element minOccurs="0" name="hoadon" nillable="true" type="tns:hoadon" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="mahd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sanpham" nillable="true" type="tns:sanpham" />
      <xs:element minOccurs="0" name="soluong" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="thanhtien" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ct_hoadon" nillable="true" type="tns:ct_hoadon" />
  <xs:complexType name="ArrayOfphieunhap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="phieunhap" nillable="true" type="tns:phieunhap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfphieunhap" nillable="true" type="tns:ArrayOfphieunhap" />
</xs:schema>